*
{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background-color: blueviolet;
    
   

}
header
{
    height: 100vh;
    
    background-position: center;
    background-size:cover;
    background-position: center;
    
    
}
footer {
    margin-top:3cm ;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color:brown;
  color: white;
  text-align: center;
}
table, th, td {
    border: 1px  double white;
    border-collapse: collapse;
    padding: 15px;
    
  }
  th {
    text-align: left;
    outline: double;
    background-color: yellowgreen;
  }
.table{
    background-color: black;
}
  table {
    border-spacing: 5px;

    margin-top:3cm;
    width: 50%;
    height: auto;
    background-color: black;
    
  }
  

.body p
{
    margin-top: 15px;
    text-indent: 2cm;
  
    
}
ul
{
    float: right;
    list-style-type: none;
    margin-top: 10px;
    
    
    
}
ul li
{
    display: inline-block;
    

    
}
ul li a
{
    text-decoration: none;
    
    color: white;
    padding: 5px 20px;
    border: 1px double  white;
    font-weight: bold;
}
ul li a:hover
{
    background-color: white;
    color: black;
    transition: 0.6s ease;
}
ul li.active a
{
    background-color: white;
    color: black;

    
}



.main
{
    max-width: 1200px;
    margin:auto;
    background-color: blueviolet;
    
}
