*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black
}
.h1
{
    background-color: white;
    text-align: center;
    font-size: 40px;
    
}
footer {
    margin-top: 3cm;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color:brown;
  color: white;
  text-align: center;
}
.faisi
{
    height: 100%;
    width: 100%;
    background-image:linear-gradient(rgba(15, 13, 13, 0.4),rgba(1,5,0,0.4)),url(4.jpg);
    background-position: center;
    background-size:cover;
    position: absolute;
    

}
.formbox
{
    
    overflow: hidden;
    height: 480px;
    width: 380px;
    position: relative;
    margin: 6% auto;
    background:whitesmoke;
    padding: 5px;
    outline-style:groove ;color:brown;
}
.button
{
    width: 220px;
    margin: 35% auto;
    position:relative;bottom: 80px;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn
{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: blueviolet;
    position: relative;bottom: 6px;

}
#btn
{
    top :20;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    transition: 0.5s;

}
.icons
{
    margin: 30px auto;
    text-align: center;

}
.icons img
{
 width: 30px;   
 margin: 0 12px;
 box-shadow: 0 0 20px 0 blueviolet;
 cursor: pointer;
 border-radius: 50%;

}
.input-form
{
    top: 180px;
    width: 280px;
    position: absolute;
    transition: .5s;
    
}
.textfield
{
    
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    
}

.submit-btn
{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    position: relative;bottom: 30px;
}
.check-box
{
    margin: 50px 10px 30px 0;
    position: relative;bottom: 30px;

}
span
{
    font-size: 12px;
    color: violet;
    bottom: 68px;
    position: relative;bottom: 30px;
}
#login
{
    left: 50px;
}
#register
{
    left: 450px;
}


  